<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Criar tarefa</title>
	</head>
	<body>
		<header>
			<h1>Criar tarefa</h1>
		</header>
		
		<form method="POST" action="/tarefa/adicionar" th:object="${tarefa}">
		
			<!-- Lista todos os erros -->
			<p th:if="${#fields.hasErrors('all')}" th:errors="*{all}">Erros na validação</p>
		
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			Nome: <input type="text" th:field="*{nome}"/>
			Descricao: <input type="text" th:field="*{descricao}"/>
			Data limite de entrega: <input type="date" th:field="*{dataLimite}" id="datePickerId" />
			
			<button type="submit">Cadastrar</button>
		</form>
		
		<script>
			//Solução por TRiNE
			datePickerId.min= new Date().toISOString().split("T")[0];
		</script>
	
	</body>
</html>