<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Criar tarefa</title>
	</head>
	<body>
		<header>
			<h1>Criar tarefa</h1>
		</header>
	
		<form method="POST" action="/tarefa/atualizar" th:object="${tarefa}">
			<!-- Lista todos os erros -->
			<p th:if="${#fields.hasErrors('all')}" th:errors="*{all}">Erros na validação</p>
			
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<input type="hidden" th:value=${tarefa.id} name="id"/>
			
			Nome: <input type="text" th:value="${ tarefa.nome }" name="nome" th:field="*{nome}"/>
			Descricao: <input type="text" th:value="${ tarefa.descricao }" name="descricao" th:field="*{descricao}"/>
			Data de início: <input type="date" th:value="${ tarefa.dataInicio }" name="dataInicio" th:field="*{dataInicio}"/>
			Data limite de entrega: <input type="date" th:value="${ tarefa.dataLimite }" name="dataLimite" th:field="*{dataLimite}"/>
	
			<button type="submit">Cadastrar</button>
		</form>
	</body>
</html>