<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragmentos/head.html :: head('Listar tarefa')"></head>

<body style="padding-top: 15vh;">

    <nav th:insert="fragmentos/navbar.html :: barra"></nav>

    <header>
        <h1 style="text-align: center">Listar tarefas</h1>
    </header>

    <main class="container" style="margin-top: 50px">
        <!--Lista -->
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th style="width: 150px">Data de início</th>
                    <th style="width: 150px">Data de entrega</th>
                    <th style="width: 170px" sec:authorize="hasRole('USER')">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="t : ${tarefas}">
                    <td th:text="${t.nome}"></td>
                    <td th:text="${t.descricao}" style="width: 465px;"></td>
                    <td> <input type="date" th:value="${t.dataInicio}" readonly class="form-control"/> </td>
                    <td> <input type="date" th:value="${t.dataLimite}" readonly class="form-control"/> </td>
                    <td sec:authorize="hasRole('USER')">
                        <a th:href="@{/tarefa/editar/{id} (id=${t.id}) }" class="btn btn-primary btn-sm">Editar</a> |
                        <button class="btn btn-danger btn-sm" data-toggle="modal"
                            th:attr="data-target='#modal'+${t.id}">Remover</button>
                    </td>
                    <!-- Modal -->
                    <div class="modal fade" th:attr="id='modal'+${t.id}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Remover tarefa</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Deseja realmente remover a tarefa: "<span th:text="${t.nome}"></span>"?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                    <a th:href="@{/tarefa/remover/{id} (id=${t.id}) }" type="button"
                                        class="btn btn-danger">Confirmar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>

        <script th:attr="src=@{/js/jquery-3.3.1.slim.min.js}"></script>
        <script th:attr="src=@{/js/popper.min.js}"></script>
        <script th:attr="src=@{/js/bootstrap.min.js}"></script>
    </main>
</body>

</html>