<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Listar tarefa</title>
	</head>
	<body>
		<header>
			<h1>Lista de tarefas</h1>
		</header>
		
		<!--Lista -->
		<table border="1">
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Data de criação</th>
				<th>Data de entrega</th>
				<th>Opções</th>
			</tr>
			<tr th:each="t : ${tarefas}">
				<td th:text="${t.id}"></td>
				<td th:text="${t.nome}"></td>
				<td th:text="${t.descricao}"></td>
				<td> <input type="date" th:value="${t.dataCriacao}" readonly/> </td>
				<td> <input type="date" th:value="${t.dataLimite}" readonly/> </td>
				<td> 
					<a th:href="@{/crud-tarefa/editar/{id} (id=${t.id}) }">Editar</a> | 
					<a th:href="@{/crud-tarefa/remover/{id} (id=${t.id}) }">Remover</a>
				</td>
			</tr>
		</table>
		
	</body>
</html>